# Puerto de la api
PORT=9090

# Variables de la Base de datos SQL
DATABASE_URL="mysql://raise:raise@localhost:3306/raisecode"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306
DATABASE_USER="raise"
DATABASE_PASSWORD="raise"
DATABASE_NAME="raisecode"

# Variables de la base de datos Mongo
MONGO_URL=
MONGO_PORT=