# Puerto de la api
PORT=9090

# Variables de la Base de datos SQL
DATABASE_URL="mysql://raise:raise@mariadb:3306/raisecode"
DATABASE_HOST="mariadb"
DATABASE_PORT=3306
DATABASE_USER="raise"
DATABASE_PASSWORD="raise"
DATABASE_NAME="raisecode"

# Variables de la base de datos Mongo
MONGO_URL="mongodb://127.0.0.1:27017/raisecode"
MONGO_HOST="127.0.0.1"
MONGO_PORT=27017
MONGO_USER="raise"
MONGO_PASSWORD="raise"
MONGO_NAME="raisecode"