# Puerto de la api
PORT=9090

# Variables de la Base de datos SQL
DB_URL="mysql://root:root@127.0.0.1:3306/raisecode"
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_USER="root"
DB_PASSWORD="root"
DB_NAME="raisecode"

# Variables de la base de datos Mongo
MONGO_URL="mongodb://127.0.0.1:27017/raisecode"
MONGO_HOST="127.0.0.1"
MONGO_PORT=27017
MONGO_USER="raise"
MONGO_PASSWORD="raise"
MONGO_NAME="raisecode"